# list problem Solving (1-80) Nahul

In [98]:
#1 Write a Python program to sum all the items in a list

list1=[5,6,7,8]
s=0
for i in range(len(list1)):
    s=s+list1[i]
print(s)

26

In [99]:
#2 Write a Python program to multiplies all the items in a list.

list1=[1,2,3,4]
p=1
for i in range(len(list1)):
    p=p*list1[i]
print(p)

24

In [100]:
#3 Write a Python program to get the largest number from a list.

list1=[8,5,6,9]
sorted(list1)
print(list1[-1])

9

In [101]:
#4 Write a Python program to get the smallest number from a list. 

list1=[8,5,6,9]

#sorted(list1)
#print(list1[0])

smallest = min(list1)
print(smallest)

5

In [102]:
#5 list elements 1st and last index matches

l=['abc', 'xyz', 'aba', '1221', 'aa']
count=0
for i in l:
    if i[0]==i[-1] and len(i)>2:
        count=count+1
print(count)

2

In [103]:
#6 sorted in increasing order by the last element in each tuple

l= [(2, 5), (1, 2), (4, 4), (2, 3), (2, 1)]
list1=[]
for i in l:
    list1.append(i[1])
list1=sorted(list1)
final_result=[]
for i in list1:
    for tuple1 in l:
        if tuple1[1]==i:
            final_result.append(tuple1)
            break
final_result

[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

In [104]:
#7 Write a Python program to remove duplicates from a list

list1=[1,2,3,4,4]
list2=list(set(list1))
print(list2)

[1, 2, 3, 4]

In [105]:
#8 to check a list is empty or not 

list1=[]
if list1:
    print("non-empty")
else:
    print("empty")

empty

In [106]:
#9 to clone or copy a list.

list1=[1,2,4,5]
list2=list1
print(list2,list1)

[1, 2, 4, 5] [1, 2, 4, 5]

In [107]:
#10 find the list of words that are longer than n from a given list of words

s = "The quick brown fox jumps over the lazy dog"
n = 3

for word in s.split():
    if len(word)>3:
        print(word)

quick
brown
jumps
over
lazy

In [108]:
"""
words = ["apple", "banana", "orange", "mango", "pineapple"]
n = 3
longer_words = [word for word in words if len(word) > n]
print("Words longer than", n, ":", longer_words)
"""

words = ["apple", "banana", "orange", "mango", "pineapple"]
words2=[]
n = 3
for i in words:
    if len(i) > n:
        words2.append(i)
print("Words longer than", n, ":", words2)

Words longer than 3 : ['apple', 'banana', 'orange', 'mango', 'pineapple']

In [109]:
#11 takes two lists and returns True if they have at least one common member


"""
list1=[1, 2, 3, 4, 5]
list2=[6, 7, 8, 9, 10]


"""
list1=[1, 2, 3, 4, 5]
list2=[5, 6, 7, 8, 9]


flag=False
for i in list1:
    for j in list2:
        if i==j:
            flag=True
            break
print(flag)

True

In [110]:
# 12 print a specified list after removing the 0th, 4th and 5th elements. 

list1 = ['Red', 'Green', 'White', 'Black', 'Pink', 'Yellow']

# Use slicing to remove elements in one step
new_list = list1[1:4] + list1[6:]

print("Modified list:", new_list)

Modified list: ['Green', 'White', 'Black']

In [111]:
#13 3*4*6 3D array

s=('* '*6).split()
3*[4*[s]]

[[['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']],
 [['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']],
 [['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*'],
  ['*', '*', '*', '*', '*', '*']]]

In [112]:
#14 print the numbers of a specified list after removing even numbers from it

list1=[1,2,3,4,5,6,7,8,9]
list2=[]
for i in list1:
    if i%2!=0:
        list2.append(i)
print(list2)

[1, 3, 5, 7, 9]

In [113]:
#17 generate and print a list except for the first 5 elements, where the values are square of numbers between 1 and 30

In [114]:
#18 generate all permutations of a list

import itertools
print(list(itertools.permutations([1, 2, 3])))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [115]:
#19 difference between the two lists

list1 = [1, 3, 5, 7, 9]
list2 = [1, 2, 4, 6, 7, 8]
diff_list1_list2 = list(set(list1) - set(list2))
diff_list2_list1 = list(set(list2) - set(list1))
total_diff = diff_list1_list2 + diff_list2_list1
print(total_diff)

[9, 3, 5, 8, 2, 4, 6]

In [116]:
#20 Write a Python program access the index of a list

list1 = [1, 2, 3, 4, 5, 6]
for i in range(len(list1)):
    print(i, list1[i])

0 1
1 2
2 3
3 4
4 5
5 6

In [117]:
#22 find the index of an item in a specified list

list1=[1,2,3,4,5]
print(list1.index(1))

0

In [118]:
#23 flatten a shallow list

li = [[6, 8, 9], [2, 5, 4], ['l'], ['o', 7, 'u']]
flat_list = []
for sublist in li:
    for item in sublist:
        flat_list.append(item)
print("Flattened list:", flat_list)

Flattened list: [6, 8, 9, 2, 5, 4, 'l', 'o', 7, 'u']

In [119]:
#24 append a list to the second list


"""
list1 = [1, 2, 3, 0]
list2 = ['Red', 'Green', 'Black']
final_list = list1 + list2
print(final_list)
o/p:[1, 2, 3, 0, 'Red', 'Green', 'Black']
"""


list1=[5,6,7,8]
list2=['Red', 'Green', 'Black']
for i in list1:
    list2.append(i)
print(list2)
#o/p= ['Red', 'Green', 'Black', 5, 6, 7, 8]

['Red', 'Green', 'Black', 5, 6, 7, 8]

In [120]:
#25  select an item randomly from a list


import random
color_list = ['Red', 'Blue', 'Green', 'White', 'Black']
print(random.choice(color_list))

Green

In [121]:
#26 whether two lists are circularly identical; after circulation are they looking same o not
s=[10,10,11,11]
s1=[11,11,10,10]
s2=[10,11,10,11]
def get_order(s):
    string=''
    for i in s:
        string=string+str(i)
    return string
get_order(s1) in get_order(s)*2 #-> true
#get_order(s2) in get_order(s)*2  ->false

True

In [122]:
#27 find the second smallest number in a list

list1=[9,3,4,0,2]
list1.sort()
print(list1[1])

2

In [123]:
#28 find the second largest number in a list

list1=[9,3,4,0,2]
list1.sort()
print(list1[-2])

4

In [124]:
#29 get unique values from a list

li = [3, 5, 9, 7, 5, 6, 4, 1, 2, 7, 2]
unique_values = sorted(list(set(li)))
print("Unique values:", unique_values)

Unique values: [1, 2, 3, 4, 5, 6, 7, 9]

In [125]:
#30 frequency of the elements in a list

list1 = [3,4,6,8,3,5,7,89,1,3,4,6,7]

dict1 = {}
for i in list1:
    dict1[i] = list1.count(i)
print(dict1)

{3: 3, 4: 2, 6: 2, 8: 1, 5: 1, 7: 2, 89: 1, 1: 1}

In [126]:
#31  count the number of elements in a list within a specified range

list1 = [3,4,6,8,3,5,7,89,1,3,4,6,7]

dict1 = {}
for i in range(2,7):
    dict1[i] = list1.count(i)
print(dict1)

{2: 0, 3: 3, 4: 2, 5: 1, 6: 2}

In [127]:
#32 check whether a list contains a sublist

list1=[1,2,3,4]
list2=[]
for i in range(0,len(list1)+1):
    for j in range(i+1,len(list1)+1):
            list2.append(list1[i:j])
n=[1,3]
if n in list2:
    print('yes')
else:
    print('no')

no

In [128]:
#33 generate all sublists of a list

for i in range(0,len(list1)):
    for j in range(i+1,len(list1)+1):
        print(list1[i:j])

[1]
[1, 2]
[1, 2, 3]
[1, 2, 3, 4]
[2]
[2, 3]
[2, 3, 4]
[3]
[3, 4]
[4]

In [129]:
#34 Sieve of Eratosthenes method for computing primes upto a specified number

n=100
prime_li =[]
for i in range(2, n+1):
    if i not in prime_li:
        print(i, end= ' ')
        for j in range(i*i, n+1, i): 
            prime_li.append(j)

2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97

In [130]:
#35  concatenating a given list which range goes from 1 to n

list1=['p','q']
n=5
list2=[]
for j in range(1,6):
    for i in list1:
        s=i+str(j)
        list2.append(s)
list2

['p1', 'q1', 'p2', 'q2', 'p3', 'q3', 'p4', 'q4', 'p5', 'q5']

In [131]:
#36 variable unique identification number or string

"""
x = 10
y = "hello"

x_id = id(x)
y_id = id(y)

print(f"Unique ID for x: {x_id}")
print(f"Unique ID for y: {y_id}")
"""
x = 100
print(format(id(x), 'x'))

7ffca8b99f88

In [132]:
#37 find common items from two lists

list1=[2,5,7,9]
list2=[7,9,12,13]
for i in list1:
    if i in list2:
        print(i)

7
9

In [133]:
#38 change the position of every n-th value with the (n+1)th in a list

list1 = [0,1,2,3,4,5,6,7,8,9]

for i in range(0, len(list1)-1,2):
    temp = list1[i] 
    list1[i] = list1[i+1]
    list1[i+1] = temp
print(list1)

[1, 0, 3, 2, 5, 4, 7, 6, 9, 8]

In [134]:
#39 convert a list of multiple integers into a single integer

list1=[11,33,50]
s=''
for i in list1:
    s=s+str(i)
    print(s)
print(s)

11
1133
113350
113350

In [136]:
#40 split a list based on first character of word

word_list = ['be','have','do','say','get','make','go','know','take','see','come','think', 'look','want','give','use','find','tell','ask','work','seem','feel','leave','call']
dict1 = {}
word_list = list(sorted(word_list))

for i in word_list:
    if i[0] in dict1:
        dict1[i[0]].append(i)
    else:
        dict1[i[0]] = []
        dict1[i[0]].append(i)
dict1

{'a': ['ask'],
 'b': ['be'],
 'c': ['call', 'come'],
 'd': ['do'],
 'f': ['feel', 'find'],
 'g': ['get', 'give', 'go'],
 'h': ['have'],
 'k': ['know'],
 'l': ['leave', 'look'],
 'm': ['make'],
 's': ['say', 'see', 'seem'],
 't': ['take', 'tell', 'think'],
 'u': ['use'],
 'w': ['want', 'work']}

In [137]:
#41 create multiple lists

obj = {}
for i in range(1, 21):
    obj[str(i)] = []
print(obj)

{'1': [], '2': [], '3': [], '4': [], '5': [], '6': [], '7': [], '8': [], '9': [], '10': [], '11': [], '12': [], '13': [], '14': [], '15': [], '16': [], '17': [], '18': [], '19': [], '20': []}

In [138]:
#42  to find missing and additional values in two lists

list1 = ['a', 'b', 'c', 'd', 'e', 'f']
list2 = ['d', 'e', 'f', 'g', 'h']

new_li = set(list1).difference(list2)
print('Missing values in the second list: ', ','.join(new_li))
new_li1 = set(list2).difference(list1)

print(new_li1)
print("the additional value ", ','.join(new_li1))

Missing values in the second list:  c,a,b
{'h', 'g'}
the additional value  h,g

In [139]:
#43 split a list into different variables

# Define a list 'color' containing tuples, where each tuple represents a color with its name, hexadecimal code, and RGB value
color = [("Black", "#000000", "rgb(0, 0, 0)"), ("Red", "#FF0000", "rgb(255, 0, 0)"),("Yellow", "#FFFF00", "rgb(255, 255, 0)")]
var1, var2, var3 = color
print(var1)
print(var2)
print(var3)

('Black', '#000000', 'rgb(0, 0, 0)')
('Red', '#FF0000', 'rgb(255, 0, 0)')
('Yellow', '#FFFF00', 'rgb(255, 255, 0)')

In [140]:
#44  generate groups of five consecutive numbers in a list

list1 = list(range(1,41))
print(list1, end= '')

for i in range(0,len(list1),5):
    print(list1[i: i + 5])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40][1, 2, 3, 4, 5]
[6, 7, 8, 9, 10]
[11, 12, 13, 14, 15]
[16, 17, 18, 19, 20]
[21, 22, 23, 24, 25]
[26, 27, 28, 29, 30]
[31, 32, 33, 34, 35]
[36, 37, 38, 39, 40]

In [141]:
#45 convert a pair of values into a sorted unique array

L = [(1, 2), (3, 4), (1, 2), (5, 6), (7, 8), (1, 2), (3, 4), (3, 4), (7, 8), (9, 10)]
print(sorted(set().union(*L)))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [142]:
#46  select the odd items of a list

new_x = []
x = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for i in x:
    if i % 2 != 0:
        new_x.append(i)
print(new_x)

[1, 3, 5, 7, 9]

In [143]:
#47 insert an element before each element of a list

li = ['a','b','c','d','e']
n= "c"
new_li = []
for i in range(0, len(li)):
    new_li.append(n)   # new_li.append(i+1)
    new_li.append(li[i])
    
new_li

['c', 'a', 'c', 'b', 'c', 'c', 'c', 'd', 'c', 'e']

In [144]:
#48 print a nested lists (each list on a new line) using the print() function

colors = [['Red'], ['Green'], ['Black']]
for i in colors:
    print(i[0])

Red
Green
Black

In [145]:
#49 convert list to list of dictionaries

col= ["Black", "Red", "Maroon", "Yellow"]
code= ["#000000", "#FF0000","#800000", "#FFFF00"]
new=[]
for i in range(len(col)):
    new.append({col[i],code[i]})
print(new)

[{'#000000', 'Black'}, {'Red', '#FF0000'}, {'#800000', 'Maroon'}, {'#FFFF00', 'Yellow'}]

In [146]:
#50  sort a list of nested dictionaries
input_list = [{'key': {'subkey': 1}}, {'key': {'subkey': 10}}, {'key': {'subkey': 5}}]
output_list = []
sorted_values = sorted(d['key']['subkey'] for d in input_list)
for value in sorted_values:
    output_list.append({'key': {'subkey': value}})

print(output_list)  # Output: [{'key': {'subkey': 1}}, {'key': {'subkey': 5}}, {'key': {'subkey': 10}}]

[{'key': {'subkey': 1}}, {'key': {'subkey': 5}}, {'key': {'subkey': 10}}]

In [147]:
#51 split a list every Nth element

list1 = l = ['a','b','d','j','u','d','f','k','o','r','m','n','d','n','a','m'',z','x','s','d',"q"]
n=5
for i in range(0,len(list1),n):
    print(list1[i: i + 5])

['a', 'b', 'd', 'j', 'u']
['d', 'f', 'k', 'o', 'r']
['m', 'n', 'd', 'n', 'a']
['m,z', 'x', 's', 'd', 'q']

In [148]:
#52

list1 = ["red", "orange", "green", "blue", "white"]
list2 = ["black", "yellow", "green","blue"]
new_li = set(list1).difference(set(list2))
print(new_li)
new_li1 = set(list2).difference(list1)
print(new_li1)

{'white', 'red', 'orange'}
{'black', 'yellow'}

In [149]:
#53 create a list with infinite elements

list1 = []
c = 0
while True:  
    list1.append(c)
    #print(c)
    c += 1  
    if c == 10:  
        break

print(list1)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [150]:
#54 concatenate elements of a list

color = ['red', 'green', 'orange']
print('-'.join(color))
print(''.join(color))

red-green-orange
redgreenorange

In [151]:
#55  remove key values pairs from a list of dictionaries

In [152]:
#56 convert a string to a list

new_string = "Iḷavaraci Kundavai"
print(type(new_string))
new_lis = list(new_string)
print(new_lis)
print(type(new_lis))

<class 'str'>
['I', 'ḷ', 'a', 'v', 'a', 'r', 'a', 'c', 'i', ' ', 'K', 'u', 'n', 'd', 'a', 'v', 'a', 'i']
<class 'list'>

In [153]:
#57 whether all items of a list is equal to a given string

col2=['a','a','b']
col1=['a','a','a']
flag=True
val='a'
for i in col2:
    if i!=val:
        flag=False
        break
if flag:
    print("YES")
else:
    print("NO")

NO

In [154]:
# 58 replace the last element in a list with another list

num1 = [1, 3, 5, 7, 9, 10]
num2 = [2, 4, 6, 8]
# Update the last element of 'num1' (using slicing) to be the entire 'num2' list
# This effectively replaces the last element of 'num1' with the elements of 'num2'
num1[-1:] = num2
print(num1)

[1, 3, 5, 7, 9, 2, 4, 6, 8]

In [155]:
#59 check whether the n-th element exists in a given list

list1 = [1, 3, 5, 7, 9, 10]
i = len(list1) - 1
print(list1[i])

10

In [156]:
#60 the smallest second index value from a list of tuples

x = [(4, 1), (1, 2), (6, 0)]
def custom_key(n):
    return (n[1], -n[0])
min_element = min(x, key=custom_key)
print(min_element)

(6, 0)

In [158]:
#61 create a list of empty dictionaries

dict1={}
n=int(input())
list1=[]
for i in range (n):
    list1.append(dict1)
list1

4

[{}, {}, {}, {}]

In [159]:
#62 print a list of space-separated elements

num = [1, 2, 3, 4, 5]
print(*num)
#Instead of printing the entire list as a single object (e.g., [1, 2, 3, 4, 5]), the * operator unpacks the list and passes each element as an individual argument to the print() function.

1 2 3 4 5

In [160]:
#63 insert a given string at the beginning of all items in a list

num = [1, 2, 3, 4]
new_list = []  # Create an empty list to store the modified strings
for i in num:
    new_list.append('emp{0}'.format(i))  # Append each string to the list
print(new_list)

['emp1', 'emp2', 'emp3', 'emp4']

In [161]:
#64 iterate over two lists simultaneously

num = [1, 2, 3]
color = ['red', 'white', 'black']

for i in range(len(num)):
    a = num[i]
    b = color[i]
    print(a, b)

1 red
2 white
3 black

In [162]:
#65 move all zero digits to end of a given list of numbers

"""list1=[3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1]
print(sorted(list1,reverse=True))"""


nums = [3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1]
print(nums)
non_zero = []
zero = []
for i in nums:  # Iterate over the correct list "nums"
    if i != 0:
        non_zero.append(i)
    else:
        zero.append(i)

print("\nMove all zero digits to the end of the said list of numbers:")
print(non_zero + zero)

[3, 4, 0, 0, 0, 6, 2, 0, 6, 7, 6, 0, 0, 0, 9, 10, 7, 4, 4, 5, 3, 0, 0, 2, 9, 7, 1]

Move all zero digits to the end of the said list of numbers:
[3, 4, 6, 2, 6, 7, 6, 9, 10, 7, 4, 4, 5, 3, 2, 9, 7, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [163]:
#66  find the list in a list of lists whose sum of elements is the highest

num = [[1, 2, 3], [4, 5, 6], [10, 11, 12], [7, 8, 9]]

# Use the 'max' function to find the maximum sublist in 'num' based on the sum of its elements
# The 'key' argument specifies a lambda function that calculates the sum of each sublist
# The 'max' function returns the sublist with the maximum sum
print(max(num, key=sum))

[10, 11, 12]

In [164]:
#67 find all the values in a list are greater than a specified number

num = [1, 2, 3, 4, 5]
num2=[]
x=2
for i in num:
    if i>x:
        num2.append(i)
print(num2)

[3, 4, 5]

In [165]:
#68 extend a list without append

num1 = [1, 3, 5, 7, 9, 10]
num2 = [2, 4, 6, 8]
num2[-1:] = num1
print(num2)

[2, 4, 6, 1, 3, 5, 7, 9, 10]

In [166]:
#69 remove duplicates from a list of lists

list1 = [[10, 20], [40], [30, 56, 25], [10, 20], [33], [40]]

seen = set()
unique_lists = []

for i in list1:
    if tuple(i) not in seen:
        seen.add(tuple(i))
        unique_lists.append(i)

print(unique_lists)

[[10, 20], [40], [30, 56, 25], [33]]

In [167]:
#70 get the depth of a dictionary
list1=['abcd', 'abc', 'bcd', 'bkie', 'cder', 'cdsw', 'sdfsd', 'dagfa', 'acjd']

In [168]:
#71 all dictionaries in a list are empty or not

#list1=[{},{},{}]
list1 = [{1,2},{},{}]
flag=True
for i in list1:
    if i!=list1:
        flag=False
        break
print(flag)

False

In [176]:
#72  Flatten a given nested list structure

nested_list = [0, 10, [20, 30], 40, 50, [60, 70, 80], [90, 100, 110, 120]]
flat_list = []
for item in nested_list:
    if isinstance(item, list):
        flat_list.extend(item)  # Directly extend with sublist elements
    else:
        flat_list.append(item)
print(*flat_list)

0 10 20 30 40 50 60 70 80 90 100 110 120

In [170]:
#73 remove consecutive duplicates of a given list

list1=[0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
print(list(set(list1)))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [171]:
#74 pack consecutive duplicates of a given list elements into sublists


list1 = [0, 0, 1, 2, 3, 4, 4, 5, 6, 6, 6, 7, 8, 9, 4, 4]
result = []
current_sublist = []
for i in list1: 
    if not current_sublist or i == current_sublist[-1]:
        current_sublist.append(i)
    else:
        result.append(current_sublist)
        current_sublist = [i]
if current_sublist:
    result.append(current_sublist)
print(result)

[[0, 0], [1], [2], [3], [4, 4], [5], [6, 6, 6], [7], [8], [9], [4, 4]]

In [172]:
#78 split a given list into two parts

list1 = [1, 1, 2, 3, 4, 4, 5, 1]
split_length = 3  # Length of the first part of the list
if 0 <= split_length <= len(original_list):
    first= list1[:split_length]
    second = list1[split_length:]
    print("Original list:", list1)
    print("Splitted list:", (first, second))
else:
    print("Invalid split length:", split_length)

Original list: [1, 1, 2, 3, 4, 4, 5, 1]
Splitted list: ([1, 1, 2], [3, 4, 4, 5, 1])

In [173]:
#79 remove the K'th element from a given list

original_list = [1, 1, 2, 3, 4, 4, 5, 1]
k = 2  # Index of the element to remove (0-based indexing)

if 0 <= k < len(original_list):
    new_list = original_list[:k] + original_list[k + 1:]
    print("Original list:", original_list)
    print("New list after removing element at index", k, ":", new_list)
else:
    print("Invalid index:", k)

Original list: [1, 1, 2, 3, 4, 4, 5, 1]
New list after removing element at index 2 : [1, 1, 3, 4, 4, 5, 1]

In [174]:
#80  insert an element at a specified position into a given list

num1 = [1, 3, 5, 7, 9, 10]
position = 2  #(index starts from 0)
element = 12
num2 = num1[:position] + [element] + num1[position:]
print(num2)

[1, 3, 12, 5, 7, 9, 10]

In [ ]:
"""
Didn't Understand 
17 18 25 26 36 55 60 70
"""